*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI, Arial, sans-serif;
color:white;
padding:40px;
max-width:1000px;
margin:auto;
background:#000;
overflow-x:hidden;
position:relative;
}

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:200%;
height:200%;
background:
radial-gradient(white 1px, transparent 1px),
radial-gradient(white 1px, transparent 1px);
background-size:50px 50px;
background-position:0 0,25px 25px;
animation:starsMove 100s linear infinite;
opacity:0.2;
z-index:-1;
}

@keyframes starsMove{
0%{transform:translateY(0);}
100%{transform:translateY(-1000px);}
}

nav{
background:rgba(255,255,255,0.05);
padding:15px 25px;
border-radius:12px;
margin-bottom:30px;
box-shadow:0 0 20px #00eaff;
backdrop-filter:blur(8px);
}

nav a{
margin-right:20px;
text-decoration:none;
color:#00eaff;
font-weight:bold;
font-size:17px;
transition:0.3s;
}

nav a:hover{
color:#ff4dff;
text-shadow:0 0 10px #ff4dff,0 0 20px #ff4dff;
}

h1{
font-size:40px;
margin-bottom:15px;
color:#00eaff;
text-shadow:0 0 15px #00eaff,0 0 30px #00ffff;
}

h2{
margin-top:40px;
margin-bottom:15px;
color:#ff4dff;
border-bottom:2px solid rgba(255,255,255,0.1);
padding-bottom:5px;
text-shadow:0 0 10px #ff4dff;
}

h3{
color:#ccc;
margin-bottom:5px;
text-shadow:0 0 5px rgba(255,255,255,0.2);
}

ul, table, form, p{
background:rgba(255,255,255,0.05);
padding:25px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,255,255,0.5);
backdrop-filter:blur(8px);
margin-bottom:30px;
transition:0.3s;
}

ul:hover, table:hover, form:hover, p:hover{
box-shadow:0 0 30px #00eaff;
transform:translateY(-2px);
}

li{
margin-bottom:10px;
padding-left:10px;
border-left:3px solid #00eaff;
}

table{
width:70%;
border-collapse:collapse;
overflow:hidden;
}

th{
background:linear-gradient(45deg,#00eaff,#ff4dff);
color:white;
padding:14px;
text-align:left;
}

td{
padding:12px;
border-bottom:1px solid rgba(255,255,255,0.1);
}

tr:hover{
background:rgba(255,255,255,0.1);
transform:scale(1.01);
transition:0.3s;
}

img{
margin-top:15px;
border-radius:12px;
border:3px solid #00eaff;
box-shadow:0 0 30px #00eaff,0 0 50px #00ffff;
transition:0.3s;
}

img:hover{
transform:scale(1.05);
box-shadow:0 0 40px #ff4dff,0 0 60px #ff00ff;
}

input, textarea{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:12px;
border-radius:8px;
border:none;
background:#111;
color:white;
box-shadow:inset 0 0 10px rgba(0,0,0,0.7);
}

textarea{
height:100px;
}

button{
background:linear-gradient(45deg,#00eaff,#ff4dff);
border:none;
padding:12px 22px;
border-radius:10px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.07);
box-shadow:0 0 25px #ff4dff,0 0 40px #ff00ff;
}

p a{
color:#00eaff;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

p a:hover{
color:#ff4dff;
text-shadow:0 0 10px #ff4dff,0 0 20px #ff00ff;
}
